<div data-role="page" class="type-interior" >
	</br>
	<div class='center-wrapper' id='logo' data-role="none" data-theme='a' style='font-size: 50px;'>liveSynergy</div>
	</br>

	<div data-role="navbar" data-theme='a'>
    	<ul> 
			<li><a href="/home" data-iconpos="top" data-icon="home" data-ajax="false" class="ui-btn-up-b">HOME</a></li>
            <li><a href="/entities" data-iconpos="top" data-icon="check" data-ajax="false" class='ui-btn-up-b'  >MYTHINGS/MYSPACES</a></li>
			<li><a href="/triggers" data-iconpos="top" data-icon="grid" data-ajax="false" class='ui-btn-active'>MY TRIGGERS</a></li>
			<li><a href="/zones" data-iconpos="top" data-icon="alert" data-ajax="false" class="ui-btn-up-b">ZONES</a></li>
			<li><a href="/energy" data-iconpos="top" data-icon="star" data-ajax="false" class='ui-btn-up-b'>ENERGY</a></li>
    	</ul>
    </div>

	<ul data-role="listview">
		<li data-role="list-divider" role="heading" class="ui-li ui-li-divider ui-btn ui-bar-d">Triggers</li>
	    <% if @triggers.empty? %>
	    </br>
    	</br>
	    <h1 class='center-wrapper'> Please add a trigger. </h1>
	    <% else %>
	      <% @triggers.each do |trigger| %>
	        <li>
	          <%= link_to trigger.name, '/triggers/view/' + trigger['_id'].to_s %>
	          <%= link_to 'Delete', '/triggers/delete/' + trigger['_id'].to_s, "data-icon" => "minus", "data-ajax" => "false" %>
	        </li>
	      <% end %>
	    <% end %>
	</ul>

	<!-- <div data-role="listview" class="ui-listview ui-corner-all ui-shadow" id='trips' data-theme='c'>
			<ul data-role="listview" class="ui-listview">
				<li data-role="list-divider" role="heading" class="ui-li ui-li-divider ui-btn ui-bar-d">Triggers</li>
				<li data-theme="c" class="ui-btn ui-btn-up-c ui-btn-icon-right ui-li-has-arrow ui-li">
					<a href="liveSynergy/demo-booth/fan/energy" class="ui-link-inherit">/liveSynergy/demo-booth/fan</a></li>
				<li data-theme="c" class="ui-btn ui-btn-up-c ui-btn-icon-right ui-li-has-arrow ui-li">
					<a href="liveSynergy/demo-booth/lcd-monitor/energy" class="ui-link-inherit">/liveSynergy/demo-booth/lcd-monitor</a></li>
				<li data-theme="c" class="ui-btn ui-btn-up-c ui-btn-icon-right ui-li-has-arrow ui-li">
					<a href="liveSynergy/demo-booth/light/energy" class="ui-link-inherit">/liveSynergy/demo-booth/light</a></li>
				<li data-role="list-divider" role="heading" class="ui-li ui-li-divider ui-btn ui-bar-d">Spaces</li>
				<li data-theme="c" class="ui-btn ui-btn-up-c ui-btn-icon-right ui-li-has-arrow ui-li">
					<a href="liveSynergy/demo-booth/energy" class="ui-link-inherit">/liveSynergy/demo-booth</a></li>
			</ul>
	</div> -->
	</br>
	</br>
	<div class='center-wrapper'>
	<%= link_to "triggers/new", {"data-role"=>"button", "data-theme" =>"e", "class" => "ui-btn ui-btn-corner-all ui-shadow ui-btn-up-e", "style" => "width: 60%" } do %>
	<span class='ui-btn-inner ui-btn-corner-all'><span class='ui-btn-text'>Add Trigger</span></span>
	<% end %>
	</div>
</div>
