
<div data-role="page" class="type-interior" id='mainpage'>
    <div data-role='header' data-theme='c'> 
        <h1 class='center-wrapper' id='logo' data-role="none" data-theme='a'>liveSynergy</h1>
    </div>
	<div data-role="navbar" data-theme='a'>
    	<ul> 
			<li><a href="/home" data-iconpos="top" data-icon="home" data-ajax="false" class="ui-btn-active">HOME</a></li>
            <li><a href="/entities" data-iconpos="top" data-icon="check" data-ajax="false" class="ui-btn-up-b" >MYTHINGS/MYSPACES</a></li>
			<li><a href="/triggers" data-iconpos="top" data-icon="grid" data-ajax="false" class='ui-btn-up-b'>MY TRIGGERS</a></li>
			<li><a href="/zones" data-iconpos="top" data-icon="alert" data-ajax="false" class='ui-btn-up-b'>ZONES</a></li>
			<li><a href="/energy" data-iconpos="top" data-icon="star" data-ajax="false" class='ui-btn-up-b'>ENERGY</a></li>
    	</ul>
    </div>

	</br>

	<div data-role="content">
		<p class='center-wrapper' style='width: 85%; margin-left: 50px;'>In this demonstration, we present the architecture, implementation, and applications of LiveSynergy — a system that provides reliable proximity sensing and open interactive abstractions for physical spaces and objects, to enable rich interactions between humans and their environment.</p>
	</div>
</div>
