<!--?xml version="1.0" encoding="UTF-8"?-->
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta name="viewport" content="user-scalable=yes, width=device-width, initial-scale=1.0, maximum-scale=1.0"/>

	<title>Pulsar</title>

    <%= stylesheet_link_tag    "application" %>
	<%= javascript_include_tag "application" %>
	

    <style> 
    	#logo { 
    	    color: 080707; 
    		font-family: 'Montez', cursive;
    		font-size: 50px; 
    		margin-left: auto;
    		margin-right: auto;
    		/*text-shadow: rgb(255, 255, 255) 2px 2px 0px, rgb(255, 255, 255) 0px 1px 2px, rgb(255, 255, 255) 7px 0px 4px, rgb(255, 255, 255) 1px 1px 0px, rgb(255, 255, 255) 0px 1px 1px, rgb(255, 255, 255) 5px 0px 2px; */
    	}
    	
    	.cuprum {
    	  font-family: 'Cuprum', serif;
    	}

    	label {
    	  font-family: 'Cuprum', serif;
    	}
        
        .ui-li-divider {
    	  font-family: 'Cuprum', serif;
    	}
        
        .ui-btn {
    	  font-family: 'Cuprum', serif;
    	}

    	.ui-btn-text {
    	  font-family: 'Cuprum', serif;
    	}

    	.ul-li {
    	  font-family: 'Cuprum', serif;
    	}
    	
    	li {
    	  font-family: 'Cuprum', serif;
    	}

    	h1 {
    	  font-family: 'Open Sans', serif;
    	}

    	h3 {
    	  font-family: 'Open Sans', serif;
    	}

    	p {
    	  font-family: 'Open Sans', serif;
    	}
    	
    	.center-wrapper{
    	text-align: center;
    	}
    	.center-wrapper * {
    	margin: 0 auto;
    	}

    	.ui-btn-up-b {
    	/*			border: 1px solid 		#000;*/
    		border: 1px solid 		#ccc;
    		background: 			#3d3d3d;
    		/*font-weight: bold;*/

    		font-weight: bold;
    		color: #333;
    		text-shadow: 0 1px 0 white;

    	/*			color: 					#000;
    		text-shadow: 0 -1px 1px #000;*/
    		background-image: -webkit-gradient(linear, left top, left bottom, from(#e6e6e6), to(#ccc)); /* Saf4+, Chrome */
    		background-image: -webkit-linear-gradient(top, #e6e6e6, #ccc); /* Chrome 10+, Saf5.1+ */
    		background-image:    -moz-linear-gradient(top, #e6e6e6, #ccc); /* FF3.6 */
    		background-image:     -ms-linear-gradient(top, #e6e6e6, #ccc); /* IE10 */
    		background-image:      -o-linear-gradient(top, #e6e6e6, #ccc); /* Opera 11.10+ */
    		background-image:         linear-gradient(top, #e6e6e6, #ccc);

    	}

    	.ui-btn-active {
    	/*			border: 1px solid 		#000;*/
    		border: 1px solid 		#ccc;
    		background: 			#3d3d3d;
    		/*font-weight: bold;*/

    		font-weight: bold;
    		color: #333;
    		text-shadow: 0 1px 0 white;

    	/*			color: 					#000;
    		text-shadow: 0 -1px 1px #000;*/
    		background-image: -webkit-gradient(linear, left top, left bottom, from(#81a8ce), to(#5e87b0)); /* Saf4+, Chrome */
    		background-image: -webkit-linear-gradient(top, #81a8ce, #5e87b0 ); /* Chrome 10+, Saf5.1+ */
    		background-image:    -moz-linear-gradient(top, #81a8ce, #5e87b0 ); /* FF3.6 */
    		background-image:     -ms-linear-gradient(top, #81a8ce, #5e87b0 ); /* IE10 */
    		background-image:      -o-linear-gradient(top, #81a8ce, #5e87b0 ); /* Opera 11.10+ */
    		background-image:         linear-gradient(top, #81a8ce, #5e87b0 );

    	}

    	.ui-btn-active {
    		border: 1px solid 		#225377 /*{b-bdown-border}*/;
    		background: 			#4e89c5 /*{b-bdown-background-color}*/;
    		font-weight: bold;
    		color: 					#fff /*{b-bdown-color}*/;
    		text-shadow: 0 /*{b-bdown-shadow-x}*/ -1px /*{b-bdown-shadow-y}*/ 1px /*{b-bdown-shadow-radius}*/ #225377 /*{b-bdown-shadow-color}*/;
    		background-image: -webkit-gradient(linear, left top, left bottom, from(#396b9e /*{b-bdown-background-start}*/), to(#4e89c5 /*{b-bdown-background-end}*/)); /* Saf4+, Chrome */
    		background-image: -webkit-linear-gradient(top, #396b9e /*{b-bdown-background-start}*/, #4e89c5 /*{b-bdown-background-end}*/); /* Chrome 10+, Saf5.1+ */
    		background-image:    -moz-linear-gradient(top, #396b9e /*{b-bdown-background-start}*/, #4e89c5 /*{b-bdown-background-end}*/); /* FF3.6 */
    		background-image:     -ms-linear-gradient(top, #396b9e /*{b-bdown-background-start}*/, #4e89c5 /*{b-bdown-background-end}*/); /* IE10 */
    		background-image:      -o-linear-gradient(top, #396b9e /*{b-bdown-background-start}*/, #4e89c5 /*{b-bdown-background-end}*/); /* Opera 11.10+ */
    		background-image:         linear-gradient(top, #396b9e /*{b-bdown-background-start}*/, #4e89c5 /*{b-bdown-background-end}*/);
    	}
    </style>
	
	<%= csrf_meta_tags %>

	
</head>
<body>

<%= yield %>

</body>
</html>


